.transact-attention{
  position: relative;
  padding: 24px 8px;
  background: #fff6de;
  text-align: center;
  font-size: 0;
  h3{
    font-size: 16px;
    color: #ea352d;
    i{
      margin: 0 8px 0 0;
      font-size: 32px;
      color: #ea352d;
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }
  }
  p{
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.5;
  }
}
.bought-head{
  padding: 32px 16px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.purchase-content.purchase-item{
  .bought--inner{
    .purchase-item-named{
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  .purchase-content--inner{
    .purchase-form{
      text-align: center;
      font-size: 25px;
    }
  }
}
.purchase-content.purchase-user-info{
  .purchase-content-inner{
    h4{
      margin: 0 0 10px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }
    p{
      text-align: center;
      margin: 0 0 3px;
    }
    .purchase-info-fix{
      text-align: center;
      display: block;
      margin: 15px 0 0px;
    }
  }
}