.breadcrumbs {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &-content {
    a {
      &:hover{
        text-decoration: underline;
        opacity: 0.5;
      }
      text-decoration: none;
      color: #333;
      margin-right:6px;
    }
    width: 1020px;
    margin: 0 auto;
    line-height: 50px;
    

    .current{
      background-color: #fff;
      color: black;
      font-size: 14px;
      font-weight: bold;
    }
  }
}