%footer.single-footer
  %nav
    .single-footer__list
      %li
        = link_to "プライバシーポリシー", "#" 
      %li
        = link_to "メルカリ利用規約", "#" 
      %li
        = link_to "特定商取引に関する表記", "#" 
  .single-footer-logo
    =link_to '#' do
      = image_tag("logo-gray.svg",size: "80x65")
  %p
    %small © 2019 Mercari