@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin link_color {
  a {
    text-decoration: none;
    color: #0099E8;
  }
}

@mixin item_link {
  a {
    display: block;
    text-decoration: none;
    color: #333;
  }
}