= render 'shared/top-header'
.mypage
  %main.mypage__body.clearfix
    .mypage__body__main
      .registration-container
        %h2
          支払い方法
    = render 'shared/mypage-sidemenu'
= render 'shared/banner'
= render 'shared/top-footer'