
.pagePath　
.m-main-box
  .m-conts
    .userpage-user-icon
      = link_to '#' do 
        %figure
        %img
        %h2.bold 48期
      .userpage-number
    .userpage-tab-main-news-todo
      %ul.user-tabs
        %li.info
        %li
          %h3
            //= link_to 'やることリスト' do 
      .tab-conts
        #mypage-tab-notification.mypage-item-list-tab-pane-active
        %li
        %li
    .modal
    .userpage-tab-trade
  .m-side
    .userpage-nav
      .userpage-nav-list
      .userpage-nav-head  メルペイ
      .userpage-navlist 
      .userpage-nav-head  設定
      .userpage-nav-list
