.banner
  = image_tag 'bottom-banner.png', alt: '', height: '260px', width: '100%', class: 'banner-wrapper'
  .banner-content
    .banner-content__sub-title
    .banner-content__title
    .banner-content__icon
      .banner-content__icon--mercari
      .banner-content__icon--app-store
      .banner-content__icon--android
  .banner-image