.log-in-container {
  background: rgb(245, 245, 245);
  &__main {
    &__panel {
      .no-account {
        padding: 40px 64px;
        p {
          font-size: 14px;
          text-align: center;
        }
      }
      background: #fff;
      max-width: none;
      width: 456px;
      margin: 0 auto;
      .sns-login {
        border-top: 1px solid #f5f5f5;
        padding: 32px 64px;
      }
    }
  }
}

.field-signin {
  margin: 24px 0 0;
  .input-signin {
    width: 294px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
}

.field-signin.first {
  margin: 0;
}

body .new_user {
  padding: 24px 64px 32px;
  border-top: 0px;
}

.btn-signin {
  display: block;
  line-height: 48px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.btn-red-signin {
  margin: 24px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 328px;
}

.btn-newregi {
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
}

.btn-default {
  display: block;
  line-height: 48px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.btn-fbk {
  margin: 0;
  background: #385185;
  color: #fff;
  width: 100%;
  position: relative;
  .fa-facebook-square {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    font-size: 30px;
  }
}

.forget-link {
  display: block;
  margin: 40px 0 0;
  a {
    color: #0099e8;
    text-decoration: none;
    font-size: 14px;
  }
}

body .registration-container form {
  padding: 64px;
  border-top: 1px solid #f5f5f5;
}

.field-forget {
  margin: 0;
  .input-default {
    width: 286px;
    margin: 8px 0 0;
    height: 28px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  p {
    margin: 8px 0 0;
    line-height: 1.5;
    font-size: 12px;
    color: #888;
  }
}