body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.single-header {
  height: 128px;
  text-align: center;
  h1 {
    margin: 40px 0 0;
    display: inline-block;
    a {
      display: inline-block;
      width: 185px;
      height: 49px;
      line-height: 49px;
      margin: 0 8px 0 0;
      img {
        width: 185px;
        height: 49;
      }
    }
  }
}



.registration-container {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  label {
    font-weight: 600;
  }
  form {
    padding: 40px 16px;
    
  }
}

.new_user {
  padding: 40px 16px;
  border-top: 1px solid #f5f5f5;
}

.registration-head {
  padding: 32px 16px;
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
}

.registration__basic, .registration__sms, .registration__address, .registration__payment {
  max-width: 320px;
  margin: 0 auto;
  .field {
    select {
      margin: 8px 0 0;
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
}


p.caution-text {
  margin: 8px 0 0;
  line-height: 1.5;
}

.field:first-child {
  margin: 0;
}

.field {
  margin: 40px 0 0;
  .input-default {
    width: 286px;
    margin: 8px 0 0;
  }
  .caution-text {
    margin: 8px 0 0;
    line-height: 1.5;
  }
}

.input-default {
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.optional {
  background:  #BBB;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.birthday-wrap {
  width: 320px;
  height: 56px;
}

.birthday-text {
  color: #888;
}

.select {
  width: 76px;
  display: inline-block;
  position: relative;
  background: #fff;
}

select {
  width: 100%;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.card-list {
  margin: 8px 0 0;
  font-size: 0;
  li {
    display: inline-block;
    margin: 0 0 0 8px;
    vertical-align: middle;
  }
}

.text-right__card {
  text-align: right;
  color: #0099e8;
  text-decoration: none;
  position: relative;
  margin: 8px 0 0;
  span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

.terms-text {
  margin: 8px 0 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
  a {
    display: inline;
    color: #0099e8;
    text-decoration: none;
  }
}

.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  a {
    color: #333;
    display: block;
    text-decoration: none;
  }
  p {
    margin: 8px 0 0;
  }
}

.single-footer__list {
  li {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
  }
}

.single-footer-logo {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
  img {
    vertical-align: middle;
  }
}

.text-right {
  margin: 40px 0 0;
  text-align: right;
  a {
    color: #0099e8;
    text-decoration: none;
  }
}

.btn-next, .btn-sms, .btn-address, .btn-payment, .btn-end, .btn-start {
  margin: 40px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 318px;
  line-height: 48px;
  font-size: 14px;

}

.text-center {
  text-align: center;
  font-size: 20px;
}

.progress {
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  &-bar{
    margin: 0;
    li{
      margin: 0 40px 0 0;
      padding: 0;
      position: relative;
      z-index: 40;
      display: inline-block;
      min-width: 60px;
      font-size: 12px;
      color: #888;
      .progress-status{
        position: absolute;
        left: 40%;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
        z-index: 30;
      }
    }
  }
}

.progress-bar li:last-child {
  margin: 0;
}

// デフォルトのプログレスバー
.progress-status_bar {
position: absolute;
left: 50%;
top: 25px;
bottom: 5px;
display: block;
width: 130px;
height: 2px;
background: #ccc;
z-index: 10;
}

.end .progress-status_bar {
width: 0px;
}
.payment .progress-status_bar {
width: 100px;
}
#through{
color: #ea352d;
.progress-status{
  background: #ea352d;
  }
}