.brand-index
  %ul.b-parent-wrap
    %li.b-parent-wrap__list
      =link_to "シャネル", "#"
    %li.b-parent-wrap__list
      =link_to "ナイキ", "#"
    %li.b-parent-wrap__list
      =link_to "ルイヴィトン", "#"
    %li.b-parent-wrap__list
      =link_to "シュプリーム", "#"
    %li.b-parent-wrap__list
      =link_to "アディダス", "#"
    %li.b-parent-wrap__list
      =link_to "ブランド一覧", "#"
