.category-index
  %ul.parent-wrap
    %li.parent-wrap__list
      =link_to "レディース", "#"
      %ul.child-wrap
        %li.child-wrap__list
          =link_to "ボトムス", "#"
          %ul.grandchild-wrap
            %li.grandchild-wrap__list
              =link_to "トップス", "#"
    %li.parent-wrap__list
      =link_to "メンズ", "#"
      %ul.child-wrap
        %li.child-wrap__list
          =link_to "トップス", "#"
          %ul.grandchild-wrap
            %li.grandchild-wrap__list
              =link_to "トップス", "#"
    %li.parent-wrap__list
      =link_to "ベビー・キッズ", "#"
    %li.parent-wrap__list
      =link_to "インテリア・住まい・小物", "#"
    %li.parent-wrap__list
      =link_to "本・音楽・ゲーム", "#"
    %li.parent-wrap__list
      =link_to "おもちゃ・ホビー・グッズ", "#"
    %li.parent-wrap__list
      =link_to "コスメ・香水・美容", "#"
    %li.parent-wrap__list
      =link_to "家電・スマホ・カメラ", "#"
    %li.parent-wrap__list
      =link_to "スポーツ・レジャー", "#"
    %li.parent-wrap__list
      =link_to "ハンドメイド", "#"
    %li.parent-wrap__list
      =link_to "チケット", "#"
    %li.parent-wrap__list
      =link_to "自動車・オートバイ", "#"
    %li.parent-wrap__list
      =link_to "その他", "#"
    %li.parent-wrap__list
      =link_to "カテゴリー一覧", "#"