= link_to product_path(item.id) ,class: "item-boxes" do
  .item-box
    .item-box__photo
      = image_tag(item.images.first.name)
    .item-box__body
      .item-box__body--text
        %p
          = item.name
      .item-box__body--block
        .product-price
          %p 
            = converting_to_jpy(item.price)
        .product-evaluation
          %i.far.fa-heart.product-evaluation__heart-icon
          .product-evaluation__count
            %p 5