.item-boxes
  .item-box
    .item-box__photo
      = image_tag("paprica.jpg", size: "133.99x36")
    .item-box__body
      .item-box__body--text
        %p 世界一のパプリカ
      .item-box__body--block
        .product-price
          %p ¥ 500
        .evaluation
          .evaluation__icon
            = fa_icon 'heart'
          .evaluation__number
            %p 5
    .item-box__tax
      %p (税込)