.top-main
  .campaign
    = image_tag("banner-thanks.png", class: "campaign-banner")
  
  .pickup.category
    .pickup__title
      %h2 ピックアップカテゴリー

      =render "item_container"

  .pickup.brand
    .pickup__title
      %h2 ピックアップブランド

      =render "item_container"
      
  .pickup-brand

 